<!-- <div class="back-image"> -->
  <!-- [style]="{'background-image': ' url(' + imgSrc+tvDetailesData.backdrop_path + ')'}" -->
  <div class="container card-contain ">
    <!-- <div class="card mx-auto" [style]="{'background-image': 'url(' + imgSrc+tvDetailesData.poster_path + ')'}" > -->
    <div class="row g-0 card-contain align-items-center">
      <div class="col-md-6 mt-3">
        <img src="{{imgSrc+tvDetailesData.poster_path}}" class="img-fluid rounded-start " alt="...">
      </div>
      <div class="col-md-4 ">
        <div class="card-body">
          <h1 class="card-title fw-bold fs-1 py-3">{{tvDetailesData.name}}</h1>
          <h4 class="card-text pe-5">{{tvDetailesData.overview}}</h4>
          <p class="card-text">First Date <span class="text-secondary"> {{tvDetailesData.first_air_date}}</span></p>
          <p class="card-text">Last Date <span class="text-secondary"> {{tvDetailesData.last_air_date}}</span></p>
          <p class="card-text" *ngFor="let lang of tvDetailesData.spoken_languages">Languages<span
              class="text-secondary"> {{lang.english_name}}</span></p>

          <div class="row">
            <h3 class="col-lg-4 ">Vote Average <span class="text-secondary">{{tvDetailesData.vote_average}}</span> </h3>
            <h3 class="col-lg-4 ">Vote Count <span class="text-secondary"> {{tvDetailesData.vote_count}}</span> </h3>
          </div>

          <ul>
            <li *ngFor="let item of tvDetailesData.genres">
              <h3>{{item.name}}</h3>
            </li>
          </ul>
          <button  class="btn btn-watch-trailer" >
            <a class="text-decoration-none text-white btn-md" href="https://www.themoviedb.org/video/play?key={{getTvVideoResult}}" 
             target="_blank">watch trailer</a>
          </button>
        </div>
      </div>


    </div>
  <!-- </div> -->