<div class="container">
  
    <div class="row mt-2 ">
        <div class="col-lg-3 mt-5" *ngFor="let movie of trendingMovies " mx-auto>
            <mat-card class="example-card" [routerLink]="['/moviedetailes',movie.id]">
                <img mat-card-image [src]='imgSrc+movie.poster_path' alt="...">
                <div class="bg-dark position-absolute top-0 end-0 text-white p-2">{{movie.vote_average}}</div>
                <mat-card-content>
                    <p class="text-secondary pt-2">{{movie.release_date}}</p>
                    <h1 class="text-white mt-3">{{movie.original_title}}</h1>
                    <p>{{ movie.overview|seeMore:10}} ...</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <nav class="mt-5" aria-label="...">
        <ul class="pagination pagination d-flex justify-content-center">
          <li class="page-item" *ngFor="let page of pageItem" (click)="getPage(page)"><a class="page-link" >{{page}}</a></li>
        </ul>
    </nav>
</div>